*{
    box-sizing: border-box;
}
body{
    color: #ffffff;
    margin: 0;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}
main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5em;
    height: 100vh;
}
div.top-display{
    display: flex;
    justify-content: space-between;
}
h1#time{
    text-align: center;
}
div#crypto{
    display: flex;
    align-items: center;
}
.crypto-name{
    margin-left: 0.4em;
    font-size: 1.5em;
}
div#weather-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
}
.weather-icon{
  
}
.weather-temp{
  font-size: 1.7em;
  margin: 0;
  margin-left: -10px;
}
.city-name{
    font-size: 1.6em;
    margin-top: -1.5em;
   text-align: right;
   width: 100%;
}